<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar a Senha</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content> <br>
  <form #form="ngForm" (ngSubmit)="resetPassword(form)">
    <ion-item lines = "full">
      <ion-input name="email" type="text" placeholder="oseu@email.com" ngModel required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> <br>
        <ion-button type="submit" [disabled]="form.invalid" expand="block" (click)="resetPassword(form)">Recuperar agora</ion-button>
      </ion-col>
    </ion-row>
  </form>


</ion-content>