<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="admin"></ion-back-button>
    </ion-buttons>
    <ion-title>{{curso.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="slide">
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>{{curso.nome}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <br>
          <ion-button slot="start" color="warning" [routerLink]="'/update-curso/' + curso.id">Editar</ion-button>
          <ion-button slot="end" color="danger" (click)="deleteCurso()">Eliminar</ion-button>
          <ion-button slot="end" color="primary" (click)="_openModal()">Add Cadeira</ion-button>
        </ion-card-content>
        </ion-card>

        <ion-list>
          <ion-list-header>
            <ion-label>
              Cadeiras do Curso
            </ion-label>
          </ion-list-header>
        <ion-item *ngFor="let cadeira of (cadeiras | async)">
          <ion-label>
            <h2>{{cadeira.nome}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-slide>
    
    <ion-slide class="slide">
      
      <ion-list>
        <ion-list-header>
          <ion-label>
            Adicionar nota de um aluno
          </ion-label>
        </ion-list-header>

        <ion-item >
          <ion-label>Estudante</ion-label>
          <ion-select interface="popover" >
            <ion-select-option *ngFor="let user of (users | async)" value={{curso.id}}>{{user.nome}}</ion-select-option>
          </ion-select>
        </ion-item>

      <ion-item *ngFor="let cadeira of (cadeiras | async)">
        <ion-label>
          <h2>{{cadeira.nome}}</h2>
        </ion-label>
        <ion-input type="text" placeholder="nota" ></ion-input>
      </ion-item>

      <ion-label><br>
        <h2>Media: </h2>
      </ion-label>
  <br>
  <ion-button slot="end" color="success" (click)="deleteCurso()">Media</ion-button>
  <ion-button slot="end" color="primary" (click)="_openModal()">Add</ion-button>
    </ion-list>

    </ion-slide>
  </ion-slides>
</ion-content>
