<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="loginUser(form)">
    <ion-item lines = "full">
      <ion-label position = "floating"> Email </ion-label>
      <ion-input name="email" type="text" placeholder="your@email.com" ngModel required></ion-input>
    </ion-item>

    <ion-item lines = "full">
      <ion-label position = "floating"> Palavra Passe </ion-label>
      <ion-input name="password" type="password" placeholder="password" ngModel required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="form.invalid" expand="block" (click)="loginUser(form)">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <div style="text-align: center; margin: auto;">
    <h6 (click)="goToReset()"> Esqueceu a Palavra Passe?</h6>
  </div>

</ion-content>


 
