<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Admin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Cursos
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let curso of (cursos | async)">
      <ion-label>
        <h2>{{curso.nome}}</h2>
      </ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="'/view-curso/'+curso.id">Ver</ion-button>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/add-curso'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>